<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Suit</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>

<section class="login-page">
  <div class="container-fluid p-0">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0">
        <div class="img-login">
          <img src="../assets/login.jpg" class="img-login" alt="" />
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="wrapper my-5">
          <div class="d-flex justify-content-center" style="font-size: 20px">
            Create User
          </div>
          <h1 class="line-separator-login"></h1>
          <div class="form-login">
            <form action="/create" method="POST">
              <label for="username" class="form-label mt-2 mb-2"
                >Username</label
              >
              <span class="text-danger">*</span>
              <input
                id="username"
                class="form-control mb-3"
                type="text"
                name="username"
                required
              />
              <label for="last-name" class="form-label mt-2 mb-2">Email</label>
              <span class="text-danger">*</span>
              <input
                id="lastName"
                class="form-control mb-3"
                type="text"
                name="last-name"
                required
              />
              <label for="password" class="form-label mb-2">Password</label>
              <input
                id="password"
                class="form-control"
                type="password"
                name="password"
              />
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="mt-2 mb-2"
                  >Gender</label
                >
                <span class="text-danger">*</span>
                <select
                  class="form-control mb-3"
                  id="exampleFormControlSelect1"
                  required
                >
                  <option></option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <label for="role" class="form-label mt-2 mb-2">Role</label>
              <span class="text-danger">*</span>
              <input
                id="role"
                class="form-control mb-3"
                type="text"
                name="role"
                required
              />
              <label for="accessibility-example" class="mt-2 mb-2"
                >Date Of Birth</label
              >
              <span class="text-danger">*</span>
              <div
                class="md-form md-outline input-with-post-icon datepicker"
                id="accLabels"
              >
                <input
                  placeholder="Select date"
                  type="date"
                  id="accessibility-example"
                  class="form-control mb-3"
                  required
                />

                <i class="fas fa-calendar input-prefix" tabindex="0"></i>
              </div>

              <label for="city" class="form-label mt-2 mb-2">City</label>

              <input
                id="city"
                class="form-control mb-3"
                type="text"
                name="city"
                required
              />
              <button class="btn btn-login mt-3" type="submit">Submit</button>
            </form>

            <div class="line-separator-login"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
