<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Suit</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>
<div class="row">
  <div class="col-md-3">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
      style="width: 280px; height: 100vh"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Game Suit</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="dashboard" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="user-game-biodata" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            User game biodata
          </a>
        </li>
        <li>
          <a href="user-game-history" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg>
            User game history
          </a>
        </li>
      </ul>
      <hr />
    </div>
  </div>
  <div class="col-md-7">
    <div class="row pt-5 pb-4">
      <div class="col-md-3 mt-2">
        <div class="d-flex" style="font-size: 20px">Dashboard</div>
      </div>
      <div class="col-md-9 px-4 d-flex justify-content-end">
        <a href="create">
          <button class="btn btn-create" type="submit">+</button>
        </a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">username</th>
          <th scope="col">role</th>
          <th scope="col">opsi</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((i) => { %>
        <tr>
          <td><%= i.id %></td>
          <td><%= i.username %></td>
          <td><%= i.role %></td>
          <td class="btn">
            <td>
               <a href="/update/<%= i.id %>">
                <button class="btn btn-update p-0" type="submit">Edit</button>
              </a>
              <a href="">
                <form action="/delete/<%= i.id %>" method="POST">
                  <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this user?')">
                </form>
              </a>
            </td>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
