<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Suit</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>

<section class="login-page">
  <div class="container-fluid p-0">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0">
        <div class="img-login">
          <img src="../assets/login.jpg" class="img-login" alt="" />
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="wrapper my-5">
          <div class="d-flex justify-content-center" style="font-size: 20px">
            Admin
          </div>
          <p class="d-flex justify-content-center mt-3 mb-3" style="color: red">
            <%= textErr %>
          </p>
          <h1 class="line-separator-login"></h1>
          <div class="form-login">
            <form action="/login" method="POST">
              <label for="username" class="form-label mt-2 mb-2"
                >Username</label
              >
              <span class="text-danger">*</span>
              <input
                id="username"
                class="form-control mb-3"
                type="text"
                name="username"
                required
              />
              <label for="email" class="form-label mb-2">Password</label>
              <input
                id="password"
                class="form-control"
                type="password"
                name="password"
              />
              <a href="#" class="d-flex justify-content-end text-black mt-2"
                >Forget Password?</a
              >
              <button class="btn btn-login mt-3" type="submit">Login</button>
            </form>
            <div class="line-separator-login"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
