<%- include("header") -%> <%- include("navbar") -%>

<section class="requirements" id="requirements">
  <div class="container">
    <div class="text-top text-center text-white pt-5">
      Can My Computer Run This game?
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="text-requirements text-white pt-5">
          SYSTEM
          <br />
          REQUIREMENTS
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 border">
        <div class="table-descripsion">OS:</div>
        <p class="caption-requirements">
          Windows 7 64-bit only <br />
          (No OSX support at this time)
        </p>
      </div>
      <div class="col-md-3 border">
        <div class="table-descripsion">PROCESSOR:</div>
        <p class="caption-requirements">
          Intel Core Duo @ 2.4 GHZ or <br />
          AMD Athlon X2 @ 2.8 GHZ
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 border">
        <div class="table-descripsion">MEMORY:</div>
        <p class="caption-requirements">4 GB RAM</p>
      </div>
      <div class="col-md-3 border">
        <div class="table-descripsion">STORAGE</div>
        <p class="caption-requirements">8 GB available space</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 border">
        <div class="table-descripsion">GRAPHICS</div>
        <p class="caption-requirements">
          NVIDIA Geforce GTX 660 2GB or <br />
          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
        </p>
      </div>
    </div>
  </div>
</section>
