<%- include("header") -%> <%- include("navbar") -%>

<section class="game-features" id="game-features">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex"></div>
      <div class="col-md-4">
        <div class="text-content me-5">What's so special?</div>
        <p class="text-white mb-5" style="font-size: 56px">FEATURES</p>
        <div class="img-icon d-flex">
          <img src="assets/icon-left2.svg" alt="" />
          <div class="text-features text-white ms-4">
            <p class="text-contentGame">TRADITIONAL GAMES</p>
            <p class="">
              If you miss your chilhood, we provide many traditional games here
            </p>
            <p class="text-contentGame mb-0 mt-5">GAME SUIT</p>
          </div>
        </div>
        <div class="tbd mt-5 d-flex">
          <img src="assets/Ellipse2.svg" alt="" />
          <p class="text-contentGame m-0 ms-4">TBD</p>
        </div>
      </div>
      <div class="col-md-auto"></div>
    </div>
  </div>
</section>
