<div class="row justify-content-center pt-5">
    <div class="col-auto d-flex">
        <p class="text-footer me-3">
            <a href="#">MAIN</a></p>
        <p class="text-footer me-3">
            <a href="#">ABOUT</a>
        </p>
        <p class="text-footer me-3">
            <a href="#">GAME FEATURES</a>
        </p>
        <p class="text-footer me-3">
            <a href="#">SYSTEM REQUIREMENTS</a>
        </p>
        <p class="text-footer me-3">
            <a href="#">QUOTES</a>
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-7 ms-5">
        <div class="icon-footer">
            <img src="assets/facebook.svg" class="me-5" alt="fb-icon">
            <img src="assets/twitter2.svg" class="me-5" alt="twitter-icon">
            <img src="assets/vector.svg" class="me-5" alt="youtube-icon">
            <img src="assets/twitch.svg" alt="">
        </div>
    </div>
</div>
<div class="line-separator"></div>
<div class="row pt-3">
    <div class="col-md-6">
        <p style="font-size: 14px; color: #978c8c;">© 2018 Your Games, Inc. All Rights Reserved</p>
    </div>
    <div class="col-md-4 text-end text-white d-none d-sm-block d-sm-none d-md-block">
        <p style="font-size: 12px;">Privacy Policy | Terms of Services | Code of Conduct </p>
    </div>
</div>
</div>
</secton>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>