<%- include("header") -%>

<section class="login-page">
  <div class="container-fluid p-0">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0">
        <div class="img-login">
          <img src="../assets/login.jpg" class="img-login" alt="" />
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="wrapper my-5">
          <div class="d-flex justify-content-center" style="font-size: 20px">
            Login
          </div>
          <p class="d-flex justify-content-center mt-3 mb-3" style="color: red">
            <%= textErr %>
          </p>
          <h1 class="line-separator-login"></h1>
          <div class="form-login">
            <form action="/login" method="POST">
              <label for="email" class="form-label mb-2">E-mail</label>
              <input
                id="email"
                class="form-control mb-3"
                type="email"
                name="email"
              />
              <label for="email" class="form-label mb-2">Password</label>
              <input
                id="password"
                class="form-control"
                type="password"
                name="password"
              />
              <a href="#" class="d-flex justify-content-end text-black mt-2"
                >Forget Password?</a
              >
              <button class="btn btn-login mt-3" type="submit">Login</button>
            </form>

            <div class="line-separator-login"></div>
            <p class="mt-2 d-flex justify-content-center">
              Don't have an account?
              <a class="mx-2" style="color: blue" href="/">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
