<%- include("header") -%>

<section class="login-page">
  <div class="container-fluid p-0">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 p-0 d-none d-sm-block d-sm-none d-md-block">
        <div class="img-login">
          <img
            src="../assets/login.jpg"
            class="img-login d-none d-sm-block d-sm-none d-md-block"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="loading overlay">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="wrapper my-5">
          <div class="d-flex justify-content-center" style="font-size: 20px">
            Login
          </div>
          <h1 class="line-separator-login"></h1>
          <div class="form-login">
            <form action="/login" method="POST">
              <label for="email" class="form-label mb-2">E-mail</label>
              <input
                id="email"
                class="form-control mb-3"
                type="email"
                name="email"
              />
              <label for="username" class="form-label mt-2 mb-2"
                >Username</label
              >
              <span class="text-danger">*</span>
              <input
                id="username"
                class="form-control mb-3"
                type="text"
                name="username"
                required
              />
              <label for="password" class="form-label mb-2">Password</label>
              <input
                id="password"
                class="form-control"
                type="password"
                name="password"
              />
              <a href="#" class="d-flex justify-content-end text-black mt-2"
                >Forget Password?</a
              >
              <button class="btn btn-login mt-3" type="submit">Login</button>
            </form>

            <div class="line-separator-login"></div>
            <p class="mt-2 d-flex justify-content-center">
              Don't have an account?
              <a class="mx-2" style="color: blue" href="sign-up">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script></script>
</section>
