<section class="head">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark pd-md-3">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">LOGO</a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="toggle navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-5"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link text-white mx-3 m-sm-0">HOME</a>
          </li>
          <li class="nav-item">
            <a href="work" class="nav-link text-white mx-3 m-sm-0">WORK</a>
          </li>
          <li class="nav-item">
            <a href="contact" class="nav-link text-white mx-3 m-sm-0"
              >CONTACT</a
            >
          </li>
          <li class="nav-item">
            <a href="aboutme" class="nav-link text-white mx-3 m-sm-0"
              >ABOUT ME</a
            >
          </li>
          <li class="nav-item">
            <a href="top-scores" class="nav-link text-white mx-3 m-sm-0"
              >TOP SCORES</a
            >
          </li>
          <li class="nav-item">
            <a href="news" class="nav-link text-white mx-3 m-sm-0">NEWS</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-lg-0 ms-auto">
          <li class="nav-item">
            <a
              href="sign-up"
              class="nav-link text-white collapse navbar-collapse"
              id="navbarNav"
              >SIGN UP</a
            >
          </li>
          <li class="nav-item">
            <a href="login" class="nav-link text-white">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
