<%- include("header") -%>
<%- include("navbar") -%>
<secton class="bg-newsLetter" id="bg-newsLetter">
  <div class="container-fluid" style="height: 900px">
    <div class="row">
      <div class="col-md-5">
        <img
          src="assets/skull2.png"
          class="img-fluid d-none d-sm-block d-sm-none d-md-block"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <p class="text-white" style="font-size: 24px">
          Want to stay in <br />
          touch?
        </p>
        <p class="text-white" style="font-size: 65px">
          NEWSLETTER <br />
          SUBSCRIBE
        </p>
        <p class="text-white text-news pb-5">
          In order to start receiving our news, all you have to do is enter your
          email <br />
          address. Everything else will be taken care of by us. We will send you
          emails <br />
          containing information about game. We don't spam
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-7 col-7">
            <div class="form-floating">
              <textarea
                class="form-control"
                name="text"
                id="comment"
                placeholder="Your email"
              ></textarea>
              <label for="comment">Your email address</label>
            </div>
          </div>
          <button class="btn btn-md btn-subscribe ms-3" type="submit">
            Subscribe now
          </button>
        </div>
      </div>
    </div>
  </div></section
>
