<%- include("header") -%> <%- include("navbar") -%>
<section class="img-topScores" id="img-topScores">
  <div class="container-fluid" style="height: 1000px">
    <div class="row d-flex align-items-center">
      <div class="col-md-5 pb-5">
        <div class="caption-topScores text-white" style="font-size: 56px">
          TOP SCORES
        </div>
        <p class="text-white mb-4">
          This top score from varius games provided <br />
          on this platform
        </p>
        <button
          class="btn btn-md btn-subscribe"
          type="submit"
          style="font-size: 16px"
        >
          see more
        </button>
      </div>

      <div class="col">
        <div class="row justify-content-end">
          <div class="col-md-7 col-sm-12 col-12">
            <div class="card">
              <div class="row d-flex align-items-center">
                <div class="col-md-2 col-sm-2 col-2">
                  <img
                    src="assets/evan-lahti.jpg"
                    class="img-card rounded-circle ms-2"
                    alt=""
                  />
                </div>
                <div class="col-md-8 col-sm-8 col-8">
                  <div class="card-body pb-0 ms-3 pt-3 ps-0">
                    <div class="caption-card">Evan Lahti</div>
                    <p style="font-size: 18px; color: #978c8c">PC Gamer</p>
                  </div>
                </div>
                <div class="col-md-1 col-sm-1 col-1">
                  <a href="#">
                    <img src="assets/twitter.svg" alt="img-twitter" />
                  </a>
                </div>
              </div>
              <div class="ms-2 mb-2 text-white" style="font-size: 18px">
                "One of my gaming highlights of the year"
              </div>
              <p class="ms-2" style="font-size: 14px; color: #978c8c">
                June 18, 2021
              </p>
            </div>
          </div>
        </div>

        <div class="col pt-4">
          <div class="row ms-5 ps-md-5">
            <div class="col-md-8 col-sm-12 col-12">
              <div class="card">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2 col-sm-2 col-2">
                    <img
                      src="assets/jada-griffin.jpg"
                      class="img-card rounded-circle ms-2"
                      alt="card-jada"
                    />
                  </div>
                  <div class="col-md-8 col-sm-8 col-8">
                    <div class="card-body pb-0 ms-3 pt-3 ps-0">
                      <div class="caption-card ms-2">Jada Grifin</div>
                      <p class="ms-2" style="font-size: 18px; color: #978c8c">
                        Nerdreactor
                      </p>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-1">
                    <a href="#">
                      <img src="assets/twitter.svg" alt="img-twitter" />
                    </a>
                  </div>
                </div>
                <div class="ms-2 mb-2 text-white" style="font-size: 18px">
                  "The big thing in the world of streaming <br />
                  and survival games."
                </div>
                <p class="ms-2 mb-2" style="font-size: 14px; color: #978c8c">
                  July 10, 2021
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg pt-4">
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-12 col-12 pe-5">
              <div class="card">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2 col-sm-2 col-2">
                    <img
                      src="assets/aaron-williams.jpg"
                      class="img-card rounded-circle ms-2"
                      alt="card-jada"
                    />
                  </div>
                  <div class="col-md-8 col-sm-8 col-8">
                    <div class="card-body pb-0 ms-3 pt-3 ps-0">
                      <div class="caption-card ms-2">Aaron Wiliams</div>
                      <p class="ms-2" style="font-size: 18px; color: #978c8c">
                        Uproxx
                      </p>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-1">
                    <a href="#">
                      <img src="assets/twitter.svg" alt="img-twitter" />
                    </a>
                  </div>
                </div>
                <div class="ms-2 mb-2 text-white" style="font-size: 18px">
                  "Snoop Dogg Playing The Wildy Entertaining <br />
                  `SOS` Is Ridiculus."
                </div>
                <p class="ms-2 mb-2" style="font-size: 14px; color: #978c8c">
                  December 24, 2018
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
