<%- include("header") -%>
<%- include("navbar") -%>

<section class="about-item" id="about-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-white text-thegame p-0">
          <p>What so special?</p>
          <p style="font-size: 56px;">THE GAMES</p>
        </div>
        <div class="col-lg-8 carousel-pic p-0">
          <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block img-fluid" alt="slide 0">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block img-fluid" alt="slide 1">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block img-fluid" alt="slide 2">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-blok img-fluid" alt="slide 3">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block img-fluid" alt="slide 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
      </div>
    </div>
  </section>
  <script src="bootstrap/js/bootstrap.min.js"></script>